<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>About Us</h4>
          <p>
            Consequatur in animi exercitationem deleniti maiores magnam amet incidunt, totam vitae tempora non expedita rerum quos quisquam cum. Corrupti dicta ea nisi, magni pariatur explicabo voluptatum deserunt repellendus numquam totam.
          </p>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Contact Us</h4>
          <p>
            Our direction Our direction Our direction Our direction
          </p>
          <p class="number">
            +1 (561) 247-1787 <br> +1 (561) 247-1787
          </p>
        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Newsletter</h4>
          <p>Atque facere qui, minima repellendus magnam hic doloremque et enim pariatur dolor corrupti voluptatem. Sint, iste. Officia voluptas consequatur consequuntur tempore doloremque. Placeat porro libero sequi quasi natus. Ipsa, ipsum.</p>
          <div class="d-flex flex-row" id="mc_embed_signup">

            <form class="navbar-form" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
             method="get">
              <div class="input-group add-on align-items-center d-flex">
                <input class="form-control" name="email" placeholder="Your Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'"
                 required="" type="email">
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
                <div class="input-group-btn">
                  <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                </div>
              </div>
              <div class="info mt-20"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-6 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-6 col-sm-12 footer-social">
        <app-socialmedia></app-socialmedia>
      </div>
    </div>
  </div>
</footer>
