<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container-fluid">
    <div class="row fullscreen d-flex align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6 banner-img">
        <img class="img-fluid" src="assets/img/banner-img.png" alt="">
      </div>
      <div class="banner-content col-lg-6 col-md-6">
        <h1 class="text-uppercase">
          <span>OXYGEN</span>  <br> WORKS
        </h1>
        <a href="#" class="primary-btn mt-40">{{ 'readmore' | translate }}...</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start About Us Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="section-title-wrap text-center">
          <h1>Oxygen Works provides an innovative and holistic approach to your wellness needs</h1>
          <p>Oxygen Works provides an innovative and holistic approach to your wellness needs.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 about-right">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-about">
              <h4>Why Choose Us</h4>
              <p>
                Oxygen Works believes that preventive medicine is the key to enjoy a healthy, happy, and productive live...
              </p>
              <a class="btn btn-outline-primary" routerLink="/whyus">{{ 'readmore' | translate }}...</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-about">
              <h4>Our Properties</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-about">
              <h4>Legal Notice</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-about">
              <h4>Legal Notice</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 about-left">
        <img class="img-fluid" src="assets/img/about-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End About Us Area -->

<!-- Start Features Area -->
<section class="feature-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="section-title-wrap text-center">
          <h1>Our methods to improve</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum libero nulla consequuntur non iste, corporis itaque quas voluptates saepe vero assumenda atque harum ut voluptate ea repellat reiciendis possimus.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-lg-6 col-md-6 single-feature">
        <figure>
          <img class="img-fluid" src="assets/img/featured-class/f1.jpg" alt="">
          <div class="overlay overlay-bg"></div>
        </figure>
        <div class="text-center">
          <h4 class="mb-10">Exercise 1</h4>
          <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum libero nulla consequuntur</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 single-feature">
        <figure>
          <img class="img-fluid" src="assets/img/featured-class/f2.jpg" alt="">
          <div class="overlay overlay-bg"></div>
        </figure>
        <div class="text-center">
          <h4 class="mb-10">Exercise 2</h4>
          <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum libero nulla consequuntur</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 single-feature">
        <figure>
          <img class="img-fluid" src="assets/img/featured-class/f3.jpg" alt="">
          <div class="overlay overlay-bg"></div>
        </figure>
        <div class="text-center">
          <h4 class="mb-10">Exercise 3</h4>
          <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum libero nulla consequuntur</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 single-feature">
        <figure>
          <img class="img-fluid" src="assets/img/featured-class/f4.jpg" alt="">
          <div class="overlay overlay-bg"></div>
        </figure>
        <div class="text-center">
          <h4 class="mb-10">Exercise 4</h4>
          <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eum libero nulla consequuntur</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Area -->

<!-- Start schedule Area -->
<section class="schedule-area section-gap">
  <img class="featured-img img-fluid" src="assets/img/featured-class/feature-img.png" alt="">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="section-title-wrap text-center">
          <h1>Schedule your Fitness Process</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="table-wrap col-lg-10">
        <table class="schdule-table table table-bordered">
          <thead class="thead-light">
            <tr>
              <th class="head" scope="col">Course name</th>
              <th class="head" scope="col">mon</th>
              <th class="head" scope="col">tue</th>
              <th class="head" scope="col">wed</th>
              <th class="head" scope="col">thu</th>
              <th class="head" scope="col">fri</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="name" scope="row">Option 1</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
            <tr>
              <th class="name" scope="row">Option 2</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
            <tr>
              <th class="name" scope="row">Option 3</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
            <tr>
              <th class="name" scope="row">Option 4</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
            <tr>
              <th class="name" scope="row">Option 5</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
            <tr>
              <th class="name" scope="row">Option 6</th>
              <td>02.00</td>
              <td>10.00</td>
              <td>02.00</td>
              <td>02.00</td>
              <td>10.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- End schedule Area -->

<!-- Start testomial Area -->
<section class="testomial-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="section-title-wrap text-center">
          <h1>Client’s Feedback</h1>
          <p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="active-testimonial-carusel">
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t1.png" alt="">
          <p class="desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat doloremque laborum impedit dolor, expedita magnam quis quo vel nemo minus consequatur voluptatum suscipit accusantium earum aut, qui repudiandae. Voluptatibus, obcaecati!
          </p>
          <h4>Luigi Osorio</h4>
          <p>
            CEO at Facebook
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t2.png" alt="">
          <p class="desc">
            Quas veniam mollitia, officia magnam vero illum, pariatur quis ut debitis excepturi at! Ullam quos cum voluptate magni! Deleniti aut quas quam earum magni nam sapiente itaque voluptas ipsam ipsum.
          </p>
          <h4>Alejo Vargas</h4>
          <p>
            CEO at Twitter
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t3.png" alt="">
          <p class="desc">
            Nostrum quisquam temporibus sint sit perspiciatis. Sapiente beatae necessitatibus aspernatur iusto modi fugit tempore deleniti excepturi tempora quaerat dolores voluptatum voluptas, debitis eligendi, praesentium voluptatibus nisi. Ullam quibusdam blanditiis nesciunt!
          </p>
          <h4>Mariana Osorio</h4>
          <p>
            CEO at Google
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t1.png" alt="">
          <p class="desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat doloremque laborum impedit dolor, expedita magnam quis quo vel nemo minus consequatur voluptatum suscipit accusantium earum aut, qui repudiandae. Voluptatibus, obcaecati!
          </p>
          <h4>Luigi Osorio</h4>
          <p>
            CEO at Facebook
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t2.png" alt="">
          <p class="desc">
            Quas veniam mollitia, officia magnam vero illum, pariatur quis ut debitis excepturi at! Ullam quos cum voluptate magni! Deleniti aut quas quam earum magni nam sapiente itaque voluptas ipsam ipsum.
          </p>
          <h4>Alejo Vargas</h4>
          <p>
            CEO at Twitter
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t3.png" alt="">
          <p class="desc">
            Nostrum quisquam temporibus sint sit perspiciatis. Sapiente beatae necessitatibus aspernatur iusto modi fugit tempore deleniti excepturi tempora quaerat dolores voluptatum voluptas, debitis eligendi, praesentium voluptatibus nisi. Ullam quibusdam blanditiis nesciunt!
          </p>
          <h4>Mariana Osorio</h4>
          <p>
            CEO at Google
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t1.png" alt="">
          <p class="desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat doloremque laborum impedit dolor, expedita magnam quis quo vel nemo minus consequatur voluptatum suscipit accusantium earum aut, qui repudiandae. Voluptatibus, obcaecati!
          </p>
          <h4>Luigi Osorio</h4>
          <p>
            CEO at Facebook
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t2.png" alt="">
          <p class="desc">
            Quas veniam mollitia, officia magnam vero illum, pariatur quis ut debitis excepturi at! Ullam quos cum voluptate magni! Deleniti aut quas quam earum magni nam sapiente itaque voluptas ipsam ipsum.
          </p>
          <h4>Alejo Vargas</h4>
          <p>
            CEO at Twitter
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t3.png" alt="">
          <p class="desc">
            Nostrum quisquam temporibus sint sit perspiciatis. Sapiente beatae necessitatibus aspernatur iusto modi fugit tempore deleniti excepturi tempora quaerat dolores voluptatum voluptas, debitis eligendi, praesentium voluptatibus nisi. Ullam quibusdam blanditiis nesciunt!
          </p>
          <h4>Mariana Osorio</h4>
          <p>
            CEO at Google
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t1.png" alt="">
          <p class="desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat doloremque laborum impedit dolor, expedita magnam quis quo vel nemo minus consequatur voluptatum suscipit accusantium earum aut, qui repudiandae. Voluptatibus, obcaecati!
          </p>
          <h4>Luigi Osorio</h4>
          <p>
            CEO at Facebook
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t2.png" alt="">
          <p class="desc">
            Quas veniam mollitia, officia magnam vero illum, pariatur quis ut debitis excepturi at! Ullam quos cum voluptate magni! Deleniti aut quas quam earum magni nam sapiente itaque voluptas ipsam ipsum.
          </p>
          <h4>Alejo Vargas</h4>
          <p>
            CEO at Twitter
          </p>
        </div>
        <div class="single-testimonial item">
          <img class="mx-auto rounded-circle" src="assets/img/t3.png" alt="">
          <p class="desc">
            Nostrum quisquam temporibus sint sit perspiciatis. Sapiente beatae necessitatibus aspernatur iusto modi fugit tempore deleniti excepturi tempora quaerat dolores voluptatum voluptas, debitis eligendi, praesentium voluptatibus nisi. Ullam quibusdam blanditiis nesciunt!
          </p>
          <h4>Mariana Osorio</h4>
          <p>
            CEO at Google
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testomial Area -->

<!-- Start cta-one Area -->
<section class="cta-one-area relative section-gap">
  <img class="cta-img img-fluid" src="assets/img/cta-img.png" alt="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="wrap">
        <h1>News to improve</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel deleniti repudiandae, labore ex, nemo aperiam ipsam, facilis eius quia illo facere quisquam expedita nostrum quaerat modi obcaecati veritatis ea non.
        </p>
        <a class="primary-btn" href="#">Become a Member</a>
      </div>
    </div>
  </div>
</section>
<!-- End cta-one Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="section-title-wrap text-center">
          <h1>Our Recent Blogs</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio blanditiis nisi quam excepturi dolorem voluptates ea consectetur reprehenderit? Omnis sapiente eos quas accusantium, harum dolor neque impedit quis adipisci?</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="assets/img/b1.jpg" alt="">
        </div>
        <a href="single-blog.html"><h4>Improve One</h4></a>
        <div class="text-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud.
          </p>
        </div>
        <div class="meta-bottom d-flex">
          <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
          <p><span class="lnr lnr-heart"></span> 15</p>
          <p><span class="lnr lnr-bubble"></span> 02</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="assets/img/b2.jpg" alt="">
        </div>
        <a href="single-blog.html"><h4>Improve two</h4></a>
        <div class="text-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud.
          </p>
        </div>
        <div class="meta-bottom d-flex">
          <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
          <p><span class="lnr lnr-heart"></span> 15</p>
          <p><span class="lnr lnr-bubble"></span> 02</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
        <div class="thumb">
          <img class="img-fluid" src="assets/img/b3.jpg" alt="">
        </div>
        <a href="single-blog.html"><h4>Improve three</h4></a>
        <div class="text-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud.
          </p>
        </div>
        <div class="meta-bottom d-flex">
          <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
          <p><span class="lnr lnr-heart"></span> 15</p>
          <p><span class="lnr lnr-bubble"></span> 02</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End blog Area -->
